extends layout

block content
	h1= title
	div.newcontact
		form( method="post")
			div
				div
					span.label Title :
					input(type="text", name="title", id="editContactTitle")
				div
					span.label Name :
					input(type="text", name="name", id="editContactName")
				div#editEmployeeSubmit
					input(type="submit", value="Save")
		a(href="/")!= "Back to Contact List"